body{
    background-color: bisque;
    forced-color-adjust: white;
}

textarea{
    color: black;
    background-color: transparent; 
    border-radius: 150px; 
    padding-left: 100px; 
    padding-right: 100px;
    margin-top: 50px;
    margin-left: 50px;
    box-shadow: 2px 4px #808080
}

audio{
    margin-left: 310px;
    margin-top: 30px;
}